body {
  font-family: sans-serif;
  max-width: 1200px;
  min-width: 320px;
  height: 100%;
  margin: auto;
  color: #222;
  font-size: 15pt;
}

header {
  border: 0.3em solid #222;
  padding: 1em;
  margin-top: 1em;
  display: block;
  background: rgba(255, 255, 255, 80%);
}

@media screen {
  .progressbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 0.3em;
    background: #000;
    width: 0;
    z-index: 100;
    transition: width 0.2s ease-out;
  }
}

h1 {
  margin: 0;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}

section {
  display: block;
  padding: 1em;
  border: 0.3em solid transparent;
  scroll-margin-top: 6em;
}

section:target {
  display: block;
  border: 0.3em solid #222;
  transition: border-color 0.3s;
  transition-timing-function: ease-in-out;
}

nav {
  display: flex;
}

@media print {
  nav.sticky {
    display: none;
  }
}

@media screen {
  nav.sticky {
    position: fixed;
    top: 0;
  }
}

nav ul {
  list-style-type: none;
  padding: 1em 0;
  text-transform: uppercase;
}

nav ul li {
  display: inline-flex;
}

nav ul li a {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: block;
  max-width: 150px;
  color: #222;
  background: rgba(255, 255, 255, 80%);
  border: 0.3em solid #222;
  padding: 1em;
  margin: 0.3em 0;
}

nav ul li a:hover {
  color: #fff;
  background: #222;
}

main {
  width: 100%;
}

article {
  padding-left: 1em;
  border-left: transparent solid 0.3em;
}

article:target {
  border-left: 0.3em solid #222;
  transition: border-left 0.3s;
  transition-timing-function: ease-in-out;
}

dt {
  font-weight: bold;
  margin-top: 1em;
}

dd {
  margin-bottom: 1em;
}

.cancelled {
  text-decoration: crimson line-through;
}

span.label {
  background: crimson;
  color: white;
  border-radius: 0.2em;
  margin: 0.2em;
  padding: 0.2em;
  font-size: 0.8em;
  display: inline-block;
}

#elsewhere ul {
  list-style: none;
  padding-left: 0;
}
